section {
  height: 100vh;
}

$sections: 4;
$colors: green, blue, red, yellow;

@for $i from 0 to $sections {
  section:nth-child(#{$i + 1}) {
    background: nth($colors, $i + 1);
  }
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 200px;
  height: 200px;

  opacity: 0;
  transform: translate3d(0,10%,0);
  transition: all 0.5s ease;

  &.visible {
    opacity: 1;
    transform: translate3d(0,0,0);
  }

  background-color: black;
}
