body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rebeccapurple;
  color: white;
  overflow: hidden;
}

.star {
  animation: falling 5s linear forwards;
  position: absolute;
  top: -5vh;
}

@keyframes falling {
  from {
    transform: translate3d(0, -5vh, 0);
  }
  to {
    transform: translate3d(0, 105vh, 0);
  }
}
